[build]
builder = "nixpacks"
buildCommand = "rm -rf .next/cache/* .next/server .next/static node_modules/.cache/* && pnpm run build"

[deploy]
startCommand = "pnpm start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
